    body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
        background-image: url('gojo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity as needed */
    position: relative;
        height:100%;
}




#bg-video {
    
    min-width: 100%;
    min-height: 200px;
    max-width: 100%;
    max-height:200px;
    object-fit: cover;
    z-index: -1;
}
  #bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
  text-align: center;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;

}
.talk{
    background: #333; 
    overflow:hidden;
    width:100%;
    padding:20px;
    margin:20px;
    color:white;
}
.talk img{
width:100px;
    
    height:200px;
    border:5px solid white;
    float:left;
    
    
}


.certificates {
    padding: 20px;
}
.projects{
    padding:20px;
    text-align:;
}
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}
.slideshow-container img{
    width: 40%;
    height: 40%;
}

.mySlides {
    display: none;
}
.image{
    margin-top: 10px;
    text-align: center;
    align-items: center;

}
img {
    width: 20%;
    height: 10%;
        border: 4px solid blue;
}
.pro{
    background: white;
    color: purple;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: 1px solid black;
    margin: 9px;
    padding: 15px;
}
.pro h2{
    margin: 20px;
    text-align: center;
    font-weight: 50px;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}
table a{
    text-decoration: none;
}
th,td{
    
    padding: 10px;
    text-align: left;

    }
