body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}




#bg-video {
    
    min-width: 100%;
    min-height: 200px;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    z-index: -1;
}
  #bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
  text-align: center;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;

}
.talk{
    background: #333; 
    overflow:hidden;
    width:100%;
    padding:20px;
    margin:20px;
    color:white;
}
.talk img{
width:400px;
    text-align:
    height:400px;
    border:5px solid white;
    
    
    
}
.slideshow-container img{
    width:40%;
    height:40%;
}

.certificates {
    padding: 20px;
text-align:center;
color:purple;
}
.projects{
    padding:20px;
    text-align:;
}
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}
.image{
    margin-top: 10px;
    text-align: center;
    align-items: center;

}
.image img {
    width: 20%;
    height: 10%;
        border: 4px solid blue;
}
.pro{
    background: white;
    color: purple;
    font-family: Arial, sans-serif;

}
.pro h2{
    margin: 10px;
    text-align: center;
    font-weight: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}
table a{
    text-decoration: none;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;

}
