body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
header img{
width:120px;
    height:200px;
    border-radius: 48%;
    
}


.certificates {
    padding: 20px;
}
.projects{
    padding:20px;
    text-align:;
}
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Add more CSS for styling as needed */
