body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}




#video-background {
    height:100px;
    max-width:100%;
    min-width:100%;
    object-fit: cover;
}

.content {
    position: absolute;
    z-index: 1;
    color: #fff; /* Change text color as needed */
    text-align: center;
    top: 0;
    left: 0;
    bottom:7px;
}


header {

    color: white;
    text-align: center;

}
.talk{
    background: #333; 
    overflow:hidden;
    width:100%;
    padding:20px;
    margin:20px;
    color:white;
}
.talk img{
width:100px;
    
    height:200px;
    border:5px solid white;
    float:left;
    
    
}


.certificates {
    padding: 20px;
}
.projects{
    padding:20px;
    text-align:;
}
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Add more CSS for styling as needed */
